<!DOCTYPE html>
<html>
<head>
    <title>Guessing Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <form action="{{ url_for('submit_attempt') }}" method="POST">
            <input type="text" id="playerNameInput" name="playerName" placeholder="Player name..." onfocus="removePlaceholderPlayerName()" onblur="restorePlaceholderPlayerName()">
            <div class="container">
                <div class="character">
                    <img src="{{ url_for('static', filename='icons1.png') }}">
                    <div class="speech-bubble">
                        <input type="text" value="zu klein!" id="result" readonly>
                    </div>
                </div>
                <div class="character">
                    <img src="{{ url_for('static', filename='icons2.png') }}">
                    <div class="speech-bubble right">
                        <input type="text" placeholder="Guess number!!" id="number" name="number" oninput="validateNumberInput()" onfocus="removePlaceholder()" onblur="restorePlaceholder()">
                    </div>
                </div>
            </div>
        
            <button type="submit" id="checkNumberButton">Play</button>
            <button type="button" id="restartButton" onclick="restartGame()">Restart Game</button>
        </form>
    </div>    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>